	<div class="tab_content">
		<h1>MQTT Setting</h1>
			<hr style="border: 5px solid;"/>
		<p>Client ID:
			<input id="Client_ID" name="Client_ID" type="text" />
		</p>
		<p>UserName:
			<input id="UserName" name="UserName" type="text" />
		</p>
		<p>Password:
			<input id="Password" name="Password" type="text" />
		</p>
		<p>MQTT URL:
			<input id="Mqtt_url" name="Mqtt_url" type="text" />
		</p>
		<p>MQTT Port:
			<input id="Mqtt_Port" name="Mqtt_Port" type="text" />
		</p>
		<p>SSL/TLS:
			<select id="SSL_TLS" name="SSL_TLS" type="text">
				<option value="Y">Yes</option>
				<option value="N">No</option>
			</select>
		</p>
		
	</div>